<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add post</title>
    <style>
        body {
            background-color: antiquewhite;
        }
        input {
            margin: 10px;
            height: 20px;
            border: 2px solid rgb(128, 255, 69);
            border-radius: 12px;
            box-shadow: 0 3px 4px blue;
        }
        .but {
            color: blue;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <form action="{{ url_for('post_add') }}" method="POST" enctype="multipart/form-data">
        <div><input type="file" name="photo" accept="image/*"></div>
        <div><input type="text" name="name" placeholder="Name"></div>
        <div><input type="text" name="body" placeholder="Body"></div>
        <div class="but"><input type="submit" value="Create"></div>
    </form>
</body>
</html>